.grid {
   width: 80vh;
   height: 80vh;
   position: absolute;
   top: 10vw;
   left: calc((100vw - 80vh) / 2);
}

.tile {
   display: inline-block;
   width: 12%;
   height: 12%;
   vertical-align: top;
   text-align: center;
   border: 1px solid white;
   align-items: center;
   font-size: 2.5vw;
}